.grid-container {
  margin: 5px;
}
.grid-container td {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container th {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
